@page
@model DetailsModel
@{
}
<!-- Post content-->
<article>
    <!-- Post header-->
    <header class="mb-4">
        <!-- Post title-->
        <h1 class="fw-bolder mb-1">@Model.Post.Titulo</h1>
        <!-- Post meta content-->
        <div class="text-muted fst-italic mb-2">Posted on @Model.Post.dataPublicacao</div>
        @* <!-- Post categories-->
        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a> *@
    </header>
   <!-- Post content-->
    <section class="mb-5">
        @Model.Post.Conteudo
    </section>
</article>